.wrapper {
  height: 550px;
  margin: 0 0 100px 0;
  position: relative;
  width: 100%;
}

.imageFrame {
  height: 550px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.imageFrame img {
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 0;
  transition: 0.3s ease-out;
  width: 100%;
}

.imageFrame img:hover {
  transform: scale(1.05);
}

.title {
  color: var(--color-darkGrey);
  font-family: 'Oswald', sans-serif;
  font-size: var(--font-base);
  font-weight: 100;
  margin-bottom: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
}

@media screen and (max-width: 630px) {
  .wrapper {
    height: 350px;
  }

  .imageFrame {
    height: 350px;
  }
}
