/*** Variables ***/
:root {
  /* Colors */
  --color-darkGrey: #484d5c;
  --color-lightGrey: #c0ccd4;
  --color-accent: #ffcc00;
  /* Fonts */
  --font-h1: 4.209rem;
  --font-h2: 3.157rem;
  --font-h3: 2.369rem;
  --font-h4: 1.777rem;
  --font-h5: 1.333rem;
  --font-base: 1rem;
  /* Breakpoints */
  --breakpoint-tablet: 865px;
  --breakpoint-phone: 630px;
}
/*** End Variables ***/

/*** Font declaration ***/
@font-face {
  font-family: 'Open Sans';
  font-weight: 100 900;
  src: url('../fonts/OpenSans-VariableFont.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 100 900;
  src: url('../fonts/Oswald-VariableFont.ttf') format('truetype-variations');
}
/*** End font declaration ***/

/*** Reset***/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*** End Reset ***/

html {
  font-size: 18px;
}

body {
  background-color: var(--color-darkGrey);
  color: var(--color-lightGrey);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.fullWrap {
  margin: 0 60px;
}

@media screen and (max-width: var(--breakpoint-tablet)) {
  html {
    font-size: 16px;
  }
}
