/*** Variables ***/
:root {
  /* Colors */
  --color-darkGrey: #484d5c;
  --color-lightGrey: #c0ccd4;
  --color-accent: #ffcc00;
  /* Fonts */
  --font-h1: 4.209rem;
  --font-h2: 3.157rem;
  --font-h3: 2.369rem;
  --font-h4: 1.777rem;
  --font-h5: 1.333rem;
  --font-base: 1rem;
  /* Breakpoints */
  --breakpoint-tablet: 865px;
  --breakpoint-phone: 630px;
}
/*** End Variables ***/

/*** Font declaration ***/
@font-face {
  font-family: 'Open Sans';
  font-weight: 100 900;
  src: url('/public/fonts/OpenSans-VariableFont.ttf')
    format('truetype-variations');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 100 900;
  src: url('/public/fonts/Oswald-VariableFont.ttf')
    format('truetype-variations');
}
/*** End font declaration ***/

/*** Reset***/
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*** End Reset ***/

html {
  font-size: 18px;
}

body {
  background-color: var(--color-darkGrey);
  color: var(--color-lightGrey);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: var(--breakpoint-tablet)) {
  html {
    font-size: 16px;
  }
}
