.detailsContainer {
  display: flex;
  margin: 270px 0 100px 0;
  position: relative;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  margin-right: 110px;
  position: relative;
}
.title {
  color: var(--color-accent);
  font-family: 'Oswald', sans-serif;
  font-size: var(--font-h3);
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
}
.fieldLabel {
  color: var(--color-lightGrey);
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
  opacity: 0.7;
  text-transform: uppercase;
}
.fieldInfo {
  font-size: var(--font-h5);
}

.fieldInfo a {
  color: var(--color-lightGrey);
  position: relative;
  text-decoration: none;
}

.fieldInfo a:after {
  background: var(--color-accent);
  bottom: -12px;
  content: '';
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: 0.15s ease-out;
  width: 100%;
}
.fieldInfo a:hover:after {
  bottom: -7px;
  opacity: 1;
}

.description p {
  line-height: 2rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.assetContainer {
  position: relative;
}

.assetContainer span {
  display: block;
  margin-bottom: 50px !important;
}

.assetContainer img {
  margin-bottom: 50px;
  width: 100%;
}

.nextContainer {
  align-items: center;
  border-bottom: 1px solid var(--color-lightGrey);
  display: flex;
  height: 100px;
  justify-content: flex-end;
  margin-bottom: 120px;
  padding-bottom: 60px;
}

.nextDetails {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.nextLabel {
  color: var(--color-lightGrey);
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
  opacity: 0.7;
  text-transform: uppercase;
}

.nextProjectName {
  font-size: var(--font-h5);
  position: relative;
}

.nextProjectName a {
  color: var(--color-lightGrey);
  padding-right: 50px;
  text-decoration: none;
}

.nextProjectName svg {
  margin-left: 10px;
  position: absolute;
  right: 10px;
  transition: all 0.15s ease-out;
}

.nextProjectName a:hover svg {
  fill: var(--color-accent);
  right: 0;
}

@media screen and (max-width: 1000px) {
  .detailsContainer {
    flex-direction: column;
  }

  .info {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 75px;
    width: 100%;
  }

  .title {
    font-size: var(--font-h2);
    margin-bottom: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 865px) {
  .nextContainer {
    width: 50%;
  }
}

@media screen and (max-width: 630px) {
  .detailsContainer {
    margin: 160px 0 100px 0;
  }

  .info {
    margin-bottom: 50px;
  }

  .title {
    font-size: var(--font-h4);
  }

  .field {
    width: 100%;
  }

  .fieldLabel {
    font-size: 0.7rem;
  }

  .fieldInfo {
    font-size: var(--font-base);
  }

  .nextContainer {
    width: 100%;
  }
}
